<?xml version="1.0" encoding="UTF-8" ?>	
<!-- <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"> -->
<suite name="test">
<test name="Test" preserve-order="true">
<!-- <classes>
	<class name="test.BaseTest" />
	<class name="test.LoginTest" />
	<class name="test.ReqAppointmentTest" />
</classes> -->
<groups>
        <run>
            <include name="positiveScenario"/>
            <exclude name="negativeScenario"/>
        </run>
    </groups>
<classes>
	<!-- <class name="test.BaseTest" /> -->
	<class name="test.LoginTest" />
	<class name="test.ReqAppointmentTest"/>
</classes>
</test>>
</suite>